<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Palamig Online Store</title>
    <!-- Css -->
    <link href="~/css/style.css" rel="stylesheet" />
    <!-- Bootstrap Css -->
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()

    <!-- Jquery -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <!-- Bootstrap Js -->
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <!-- Js -->
    <script src="~/js/script.js"></script>
</body>
</html>